@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Bungee+Hairline&family=Bungee+Inline&family=Bungee+Outline&family=Freckle+Face&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .container{
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8
    }
}

.scrollbar-w-2::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}

.scrollbar-thumb-violet::-webkit-scrollbar-thumb{
    --bg-opacity: 1;        
    background-color: rgb(104, 19, 158);
    background-color: rgba(104, 19, 158, var(--bg-opacity));

}

.scrollbar-thumb-rounded ::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
}

.scrollbar-track-pink-lighter::-webkit-scrollbar-track{
    --bg-opacity: 1;
    background-color: rgb(202, 99, 185);
    background-color: rgba(202, 99, 185, var(--bg-opacity));

}
